<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="ListernerDrive.ListernerClass" />
	</listeners>
	<test thread-count="2" name="Test">
		<classes>
			<class name="TestDrive.BrokenLinksTest" />
			<class name="TestDrive.LoginPageTest" />
			<class name="TestDrive.OrgIDTest" />
			<class name="TestDrive.EmailIDTest" />
			<class name="TestDrive.PasswordTest" />
			<class name="TestDrive.ForgetPassTest" />
			<class name="TestDrive.OTPLoginTest" />
			<class name="TestDrive.TicketTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
